
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<header>
    <h1>Billetterie Jo 2024</h1>
</header>
<main>
    <p>Site en construction</p>
</main>
<footer>
    <p>Crafted with Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
</footer>
</body>
</html>